<!DOCTYPE html>
<html>
  <head>
    <title>Animal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/01e2407594.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user.id) do %>
          <i class="fa-solid fa-door-closed"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <% end %>
      </li>
    <% else %>
      
      <li>
        <%= link_to root_path do %>
          <i class="fa-solid fa-door-closed"></i> Home
        <% end %>
      </li>
      
      <li>
        <%= link_to about_path do %>
          <i class="fa-solid fa-bowl-food"></i> About
        <% end 
      </li>
      
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
